.modal-backdrop {
    z-index: 900 !important;
    position: fixed;
}
.modal-dialog {
    position: fixed;
    margin: 2px auto;
    z-index: 900 !important;
}

.modal {
    position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than .jw-modal-background */
        z-index: 900;
        
        /* enables scrolling for tall modals */
        overflow: auto;
}

label , p {
    font-size: 12px; 
}
