<div class="container">
    <div *ngIf='purchaseOrderAdded && purchaseOrderPlaced' class="alert alert-success" role="alert">
        Purchase has been added to the register!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf='!purchaseOrderAdded && purchaseOrderPlaced' class="alert alert-danger" role="alert">
        Purchase can not be added due to some error!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<div class="container">
  <div class="row" style="margin-bottom: 20px">
      <div class="col-3">
        <mat-form-field style="margin-top: 30px">
          <mat-label>Select Buyer</mat-label>
          <mat-select [formControl]="buyerControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let buyer of buyers" [value]="buyer">
              {{buyer}}
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="buyerControl.hasError('required')">Please choose an buyer</mat-error>
          <mat-hint></mat-hint> -->
        </mat-form-field>
      </div>
      <div class="col-3">
          <p>Purchase Date</p>
          <!-- <kendo-datepicker [(value)]="purchaseOrder.orderDate"></kendo-datepicker> -->
          <app-custom-datepicker (selectedDate)="FetchSelectedBillDate($event)"></app-custom-datepicker>
      </div>
      <div class="col-6">
        <p>Purchased From</p>
        <input type="text" class="form-control col-5" [placeholder]="'Biller Name'" [(ngModel)] = "purchaseOrder.billerName"/>
      </div>
  </div>
  <div class="row" style="margin-bottom: 20px">
    <div class="col-3">
      <mat-form-field style="margin-top: 25px">
        <mat-label>Select GST Rate</mat-label>
        <mat-select [formControl]="gstRateControl" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let gstRate of gstRateList" [value]="gstRate">
            {{gstRate}}
          </mat-option>
        </mat-select>
        <!-- <mat-error *ngIf="gstRateControl.hasError('required')">Please choose an GST Rate</mat-error>
        <mat-hint></mat-hint> -->
      </mat-form-field>
    </div>
    <div class="col-3">
      <p>Total Purchase Amount</p>
      <input class="form-control" type="number" [(ngModel)] = 'purchaseOrder.orderTotal' (change) = 'calculateGST(purchaseOrder.orderTotal)'/>
    </div>
    
    <div class="col-2">
      <p>Total SGST</p>
      <input class="form-control" type="number" [(ngModel)] = 'purchaseOrder.orderSGST' disabled/>
    </div>
    <div class="col-2">
      <p>Total CGST</p>
      <input class="form-control" type="number" [(ngModel)] = 'purchaseOrder.orderCGST' disabled/>
    </div>
    <div class="col-2">
      <p>Total GST</p>
      <input class="form-control" type="number" [(ngModel)] = 'purchaseOrder.orderGST' disabled/>
    </div>
  </div>
  <div class="row" style="margin-bottom: 20px">
    <div class="col-3">
      <p>Order Description</p>
      <textarea class="form-control" kendoTextArea [(ngModel)] = "purchaseOrder.orderDetails"></textarea>
    </div>
    <div class="col-3">
      <p>Payment Status</p>
      <kendo-dropdownlist [data]="paymentStatus" [(ngModel)] = "purchaseOrder.paymentStatus"></kendo-dropdownlist>
    </div>
    <div class="col-3" *ngIf = "purchaseOrder.paymentStatus === 'Done'">
      <p>Payment Mode</p>
    <kendo-dropdownlist [data]="paymentMode" [(ngModel)] = "purchaseOrder.paymentMode"></kendo-dropdownlist>
    </div>
    <div class="col-3" *ngIf= "purchaseOrder.paymentMode === 'Cheque'">
      <p>Cheque Number</p>
      <input class="form-control" type="number" [(ngModel)] = 'purchaseOrder.chequeNumber'/>
    </div>
    <div class="col-3" *ngIf= "purchaseOrder.paymentMode === 'Net Banking'">
      <p>Net-banking reference Number</p>
      <input class="form-control" type="number" [(ngModel)] = 'purchaseOrder.chequeNumber'/>
    </div>
  </div>
  <div class="row" style="margin-bottom: 10px">
    <div class="col-3 float-right">
      <button class="btn btn-primary" (click) = 'addOrder()'> Add Order</button>
    </div>
  </div>
</div>

