<div class="container">
    
    <mat-dialog-content class="mat-typography">
        <form [formGroup]='registerPartyForm'>
            <div class="row">
                <div class="col-12">
                    <h2>Register new party.</h2>
                </div>

            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Swapan" formControlName="fName">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Paul" formControlName="lName">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Pan Number</mat-label>
                        <input matInput placeholder="CTMPXXXXG" formControlName="panNumber">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>GSTN Number</mat-label>
                        <input matInput placeholder="XYYGHW" formControlName="gstNumber">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <mat-form-field class="col-12 example-full-width">
                    <mat-label>Address</mat-label>
                    <textarea matInput placeholder="1/4 Ariff road" formControlName="address"></textarea>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="col-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Kolkata" formControlName="city">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Zipcode</mat-label>
                        <input matInput placeholder="700067" formControlName="zipcode">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="West Bengal" formControlName="stateInformation">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <button mat-dialog-close class="w3-button w3-grey">Cancel</button>
                <button class="w3-button w3-orange" (click)='registerParty()'>Register</button>
            </div>
        </form>
    </mat-dialog-content>
</div>