span {
    font-size: 14px;
    font-weight: bold;
    text-align: left!important;
}

.card {
    height: 15 rem;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }